.about-banner {
    position: relative;
    width: 100%;
    height: 80vh;
    background-attachment: fixed;
    background-size: cover;
    transition-duration: var(--trans-time-mid);
}

.about-deg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0,0,0,0) 0%, var(--blanco) 100%);
}

.about-texto {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px;
    font-size: 2rem;
}

.about-texto h1 {
    font-size: 2em;
}

.about-texto span {
    font-size: 1em;
}

.about-explaination{
    margin: 100px;
    font-size: 2rem;
}

.about-explaination div{
    padding: 50px;
    border-radius: 20px;
    background-color: var(--secundario);
}

#about-btn {
    display: block;
    margin-top: 30px;
    padding: 10px 15px;
    font-size: 0.7em;
    border-radius: 10px;
    color: var(--blanco);
    background-color: var(--principal);
    transition-duration: var(--trans-time-fast);
}

#about-btn:hover {
    color: var(--principal);
    background-color: var(--blanco);
}


@media screen and (max-width:950px) {
    .about-explaination{
        margin: 30px;
        font-size: 1.5rem;
    }    
}