.Controles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Controles label {
  padding: 5px 10px;
  border: dashed 2px #000;
  border-radius: 10px;
}

.Controles span {
  margin: 0 10px;
}

.paginator button {
  height: 1em;
  aspect-ratio: 1/1;
}

.paginator button:disabled {
  opacity: 50%;
}

.paginator button:last-child {
  transform: rotate(180deg);
}