services:
  # - - - - - - - - 
  #       DB
  # - - - - - - - - 

  db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # - - - - - - - -
  #    BACKEND
  # - - - - - - - -

  backend:
    image: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    volumes:
      - ./backend:/app

  # - - - - - - - -
  #    FRONTEND
  # - - - - - - - -

  frontend:
    image: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 80:80
    volumes:
      - ./frontend:/usr/share/nginx/html
    depends_on:
      - backend

  # - - - - - - - -
  #   MINI-GAME
  # - - - - - - - -

  mini-game:
    image: mini-game
    build:
      context: ./godot
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - frontend

volumes:
  postgres_data:
