/* Modal */
#modalEstInfo {
    position: fixed;
    padding: 50px;
    margin: 50px;
    height: 70vh;
    grid-template-columns: 1fr 1.5fr;
    background-color: var(--terciario);
    border: none;
    border-radius: 20px;
}

#modalEstInfo.open {
    display: grid;
}

#modalEstInfo::backdrop {
    position: fixed;
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.541);
    backdrop-filter: blur(3px);
}

/* IMG */

#modalEstInfo > figure {
    grid-column: 1/2;
    overflow: hidden;
    border-radius: 20px;
}

#modalEstInfo > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#modalClose {
    position: absolute;
    top : 20px;
    right: 20px;
    aspect-ratio: 1/1;
    width: 60px;
    border-radius: 15px;
}

#modalClose:hover {
    cursor: pointer;
}

/* Content */

#modalEstInfo > div {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-sizing: border-box;
    padding: 0 40px;
    font-size: 1.5rem;
}

#modalContent h3 {
    font-size: 3em;
    font-weight: bolder;
}

#modalContent span {
    display: inline-block;
    margin: 10px 0;
    padding: 5px 20px;
    min-width: 200px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--secundario);
}

#modalContent p {
    margin: 10px;
}

#modalContent ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-height: 300px;
    height: 22vw;
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--secundario);
}

/* Redes Sociales */

#modalContent ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

#modalContent ul figure {
    display: inline-block;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#modalContent ul a {
    color: var(--principal);
    text-decoration: none;
}

/* MARK: Posts */
.equipos-posts{
    width: 100%;
}
.equipos-posts > h2 {
    display: inline-block;
    margin: 20px 0;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    font-size: 4em;
    background-color: var(--blanco-glass);
}

/* 
MEDIA QUERYS
-standar
-1250
-900

*/

@media screen and (max-width: 1250px) {
    #modalEstInfo > div {
        font-size: 1.2rem;
    }  

    #modalContent ul {
        max-height: 400px;
        height: 30vw;
        font-size: 0.5;
    }
}

@media screen and (max-width: 950px) {
    #modalEstInfo {
        padding: 0;
        height: 90vh;
        width: 90vw;
    }

    #modalEstInfo.open {
        display: block;
    }
    
    #modalEstInfo > figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #modalEstInfo > figure > img {
        opacity: 0.2;
    }

    #modalEstInfo > div {
        z-index: 1;
        position: relative;
        padding: 20px;
        width: 100%;
        height: 100%;
    }  

    #modalContent ul {
        flex-wrap: nowrap;
        overflow-y: scroll;
    }
}