/* Imaginatios Pasados */

.gallery {
    margin: 2%;
    display: flex;
    gap: 1em;
}

.gallery img {
    border-radius: 2cap;
    box-shadow: 5px 5px 1px var(--negro);
    height: 550px;
    width: 150px;
    flex: 1;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    transition: 0.7s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

.gallery img:hover{
    flex: 4;
}

.gallery:hover{
    gap: 1em;
}

#content {
    color: var(--principal);
    display: none;
    margin: 5%;
    width: 90%;
    background-color: var(--secundario);
    border-radius: 1cap;
    align-items: center;
    object-position: center;
}

#content div{
    width: 100%;
    display: grid;
    justify-content: center;
    border-radius: 1cap;
    text-align: center;
}

#content img,
#content h1,
#content p {
    transition: opacity 0.3s ease;
}

#content p{
    width: 90%;
    padding: 5%;
}

#content img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}