.Post {
  position: relative;
  width: 100%;
  aspect-ratio: 9/11;
  background-color: black;
  background-image: url("../../../assets/postArticle/bg.png");
}

.Post_marco {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/postArticle/marco.png");
  background-size: contain;
  transform: scale(105%);
}

.Post header {
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  padding: 2.5% 3%;
  aspect-ratio: 6/1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  background-color: white;
  background-image: url("../../../assets/postArticle/header.png");
  background-size: contain;
}

.Post header a {
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.Post header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Post main {
  width: 100%;
  height: 85%;
}

.Post main picture {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Post main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Post main button {
  z-index: 999;
  position: absolute;
}

.Post footer {
  user-select: none;
  z-index: 3;
  position: absolute;
  bottom: 25px;
  right: 25px;
  padding: 5px 7px;
  border-radius: var(--borde-radio-3);
  background-color: white;
}

.Post footer input {
  display: none;
}