:root {
  /* MEDIDAS */
  --borde-radio-1: 20px;
  --borde-radio-2: 15px;
  --borde-radio-3: 10px;
}

@font-face {
  font-family: 'Inter'; /* A name you choose to use later */
  src: url('/src/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('ttf'),
       url('/src/assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents render blocking while loading */
}

@font-face {
  font-family: 'Imaginatio'; /* A name you choose to use later */
  src: url('/src/assets/fonts/Imaginatio/Imaginatio_v1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents render blocking while loading */
}


* {
  margin: 0;
  padding: 0;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;

}

html {
  font-size: 18px;
}