:root {
  /* MEDIDAS */
  --borde-radio-1: 20px;
  --borde-radio-2: 15px;
  --borde-radio-3: 10px;

  /* CARTAS */
  --card-grad-from: #6a5cff;
  --card-grad-to: #00d4ff;
  --card-glow: 255,255,255;
  --card-text: #1f2933;
}

@font-face {
  font-family: 'Inter'; /* A name you choose to use later */
  src: url('/src/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('ttf'),
       url('/src/assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents render blocking while loading */
}

@font-face {
  font-family: 'Imaginatio'; /* A name you choose to use later */
  src: url('/src/assets/fonts/Imaginatio/Imaginatio_v1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Prevents render blocking while loading */
}


* {
  margin: 0;
  padding: 0;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;

}

html {
  font-size: 18px;
  overflow-x: hidden;
}