---
import wallpaper1 from "../assets/images/img01.jpg";

import TitleMain from "../components/astro/TitleMain.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Mascota">
  <TitleMain 
    titulo="Tu Mascota" 
    bgImage={wallpaper1}
  />

  <div>
    <iframe src="/pet" />
  </div>
</BaseLayout>

<style>
  div {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100vw;
  }

  iframe {
    box-sizing: border-box;
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 90vh;
  }
</style>