.Apariencia section {
  margin: 10px;
  padding: 15px;
  border: solid 2px #000;
  border-radius: 20px;
}

.Apariencia form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 10px;
  padding: 15px;
  border: dashed 2px #666666;
  border-radius: 20px; 
}

.Apariencia form h3,
.Apariencia form p {
  width: 100%;
  text-align: left;
}

.Apariencia form picture {
  display: block;
  width: 200px;
  height: 200px;
  aspect-ratio: 1/1;
  border: solid 3px #8a8a8a;
}

.Apariencia form img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.Apariencia form button {
  padding: 10px 20px;
  background-color: #6fee5e;
  border-radius: 10px;
  border: solid 1px #000;
}

.Apariencia form button:hover {background-color: #fff;}