---
import "../styles/globals.css";

import HeaderAdmin from "../components/astro/HeaderAdmin.astro";

const { title } = Astro.props; 
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <HeaderAdmin />
		<slot />
	</body>
</html>
