.EventContainer {
  position: relative;
  margin-bottom: 50px;
  min-height: 400px;
  background-color: var(--bg-page);
}

.EventList,
.EventInfo {
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 400px;
}

/* MARK: Lista eventos */
.EventList {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
  background-color: var(--bg-surface);
}

.EventItem {
  display: block;
  width: 300px;
  height: 150px;
  border-radius: 20px;
  overflow: hidden;
  perspective: 500px;
  transition-duration: var(--speed-medium);
}

.EventItem:active {
  transform: scale(1.1);
}

.EventItem span {
  display: inline-block;
  font-size: 1.7em;
  transition-property: transform;
  transition-duration: var(--speed-slow);
}

.EventItem:hover span {
  transform: rotate3d(2, 2, 0, 25deg) scale(1.3);
}

/* MARK: Evento Info */
.EventInfo {
  z-index: 2;
  position: relative;
  display: block;
  padding: 30px;
  background-color: var(--bg-subtle);
  clip-path: polygon(40% 0, 60% 0, 60% 0, 40% 0);
  transition: none;
}

.open,
.EventInfo:not(.open) {
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(.77,-0.26,.38,1.27);
  animation-fill-mode: forwards;
}

.open {
  animation-name: openAnim;
}

.EventInfo:not(.open) {
  animation-name: closeAnim;
}

.EventInfoBtn {
  position: absolute;
  top: 20px;
  left: 20px;
}

.EventInfo > h2 {
  margin: 0 50px;
  text-align: center;
  font-size: 4em;
}

.EventInfo > button {
  aspect-ratio: 1/1;
  width: 30px;
  background: none;
}

.EventInfoText {
  margin: 40px;
}

.EventInfoInscribir {
  display: block;
  margin: 0 auto;
  padding: 30px;
  width: 300px;
  text-align: center;
  background: var(--interactive-default);
  color: var(--text-inverse);
  border-radius: var(--borde-radio-3);
}

.EventInfoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
}

/* MARK: Item Equipos */

.TeamItem {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  background-color: var(--brand-accent);
  border-radius: var(--borde-radio-2);
}

.TeamItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 40%;
  transition-duration: 500ms;
  transition-delay: 150ms;
}

.TeamItem:hover img {
  transform: scale(1.2);
  opacity: 30%;
}

.TeamItem div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TeamItem span {
  padding: 0 40px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  transition-duration: 500ms;
}

.TeamItem:hover span {
  transform: scale(1.1);
}

/* MARK: Animacion */

@keyframes openAnim {
  0% {
    clip-path: polygon(
      50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%
    );
  }
  40% {
    clip-path: polygon(
      50% 50%, 100% 100%, 55% 70%, 45% 70%, 0 100%
    );
  }
  70% {
    clip-path: polygon(
      50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%
    );
  }
  100% {
    clip-path: polygon(
      50% 0%, 100% 0, 100% 100%, 0 100%, 0 0
    );
  }
}

@keyframes closeAnim {
  0% {
    clip-path: polygon(
      0% 0%, 100% 0%, 100% 100%, 0% 100%
    );
  }
  50% {
    clip-path: polygon(
      40% 0, 60% 0, 60% 100%, 40% 100%
      );
  }
  100% {
    clip-path: polygon(
      40% 0, 60% 0, 60% 0, 40% 0
    );
  }
}