<header>
  <a href="/">
    <span>Imaginatio</span>
    <span>Admin</span>
  </a>
</header>

<style>
  header {
    padding: 10px 20px;
  }
  span {
    margin: 0 5px;
    font-family: "Imaginatio";
    font-size: 1.4rem;
  }
</style>