---
const { titulo, subtitulo, bgImage } = Astro.props;
---

<section 
  class="TitleMain"
  style={`background-image: url(${bgImage.src});`}
>
  <div class="bg-gradient"></div>
  <div class="content">
    {subtitulo && (<span>{subtitulo}</span>)}
  <h1>{titulo}</h1>
  </div>
</section>

<style>
  .TitleMain {
    position: relative;
    margin: 10px 0;
    padding: 50px 100px;
    background-color: aqua;
    background-attachment: fixed;
    background-size: cover;
  }
  
  h1 {
    font-size: 4rem;
  }

  span {
    font-style: italic;
  }

  .content {
    z-index: 2;
    position: relative;
  }

  .bg-gradient {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #020024;
    background: linear-gradient(
      35deg, #ffffff 0%, rgba(0, 0, 0, 0) 100%
    );
  }

  @media screen and (max-width: 650px) {
    .TitleMain {
      padding: 30px;
    }

    h1 {
    font-size: 2rem;
  }
  }
</style>