---
// @ts-nocheck
import wallpaper1 from "../assets/images/img01.jpg";

import TitleSimple from "@/components/titulos/TitleSimple/TitleSimple.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { EventContainer } from "@/components/concursos/EventContainer";
---

<BaseLayout title="Concursos">
  <TitleSimple 
    titulo="Concursos"
    subtitulo="Demuestra tus conocimientos en el Imaginatio, participando en los torneos hechos para todos sín importar el nivel"
  />

  <main>
    <EventContainer client:load/>
  </main>

</BaseLayout>