---
// @ts-nocheck
import TitleSimple from "@/components/titulos/TitleSimple/TitleSimple.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { EquipoInfoContainer } from "@/components/equipos/EquipoInfoContainer";
---

<BaseLayout title="Equipos">
  <main>
    <EquipoInfoContainer client:load/>
  </main>

</BaseLayout>