---
import BaseLayout from "../layouts/BaseLayout.astro";
import { TorneoInscripcion } from "../components/react/TorneoInscripcion";
import wallpaper from "../assets/mundialito/futbol_field.webp";
---

<BaseLayout title="Mundialito Inscripción">
  <main style=`background-image: url(${wallpaper.src})`>
    <section>
      <h1>Inscripción</h1>
      <span>Mundialito Multimedia 2026</span>
    </section>

    <TorneoInscripcion client:load/>

  </main>
</BaseLayout>

<style>
  main {
    background-color: #000;
    background-size: cover;
    background-position: center;
  }
</style>