---
// @ts-nocheck

import BaseLayout from "../layouts/BaseLayout.astro";
import { EconomiaCircular } from "@/components/concursos/EconomiaCircular";
---

<BaseLayout title="Concursos">
  <main>
    <EconomiaCircular client:load/>
  </main>

</BaseLayout>