.game-combo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
    font-size: 48px;
    font-weight: bold;
    color: #ff5b5b;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    background-image: url("../img/combo_textures/combo_bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;
}

.game-combo.active {
    opacity: 1;
}


.game-combo-animation {
    animation-name: anim-game-combo;
    animation-duration: 90ms;
}

@keyframes anim-game-combo {
    0%{
        filter: opacity(0);
        transform: scale(1.3);
    }
    100%{
        filter: opacity(1.0);
        transform: scale(1.0);
    }
}