.Container {
  box-sizing: border-box;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.Paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin: 10px auto;
  width: 100px;
  height: 50px;
  color: var(--text-primary);
  background-color: var(--bg-surface);
  border-radius: var(--borde-radio-3);
}

.Paginator button {
  background-color: unset;
  aspect-ratio: 1/1;
  height: 30px;
}

.Paginator button:last-child {
  transform: rotateZ(180deg);
}

.ModalContent {
  width: 100vw;
  height: 100vh;
  color: var(--text-inverse);
}

.ModalContent h2 {
  padding: 20px;
  color: var(--text-inverse);
}

.ModalContent picture{
  display: block;
  width: 100vw;
  height: 100%;
  max-height: 80vh;
  object-position: center;
}

.ModalContent img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ModalContent p {
  box-sizing: border-box;
  position: absolute;
  padding: 30px;
  bottom: 0;
  max-height: 250px;
  width: 100%;
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.7) 70%, #ffffff00 100%);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

/* Chrome, Edge, Safari */
.ModalContent p::-webkit-scrollbar {
  width: 6px;
}

.ModalContent p::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.ModalContent p::-webkit-scrollbar-track {
  background: transparent;
}

@media screen and (max-width: 950px) {
  .Container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .Container {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}