.EventContainer {
  position: relative;
  margin-bottom: 50px;
  min-height: 400px;
  background-color: aqua;
}

.EventList,
.EventInfo {
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  min-height: 400px;
}

/* MARK: Lista eventos */
.EventList {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
  background-color: red;
}

.EventItem {
  display: block;
  width: 300px;
  height: 150px;
  border-radius: 20px;
  overflow: hidden;
  perspective: 500px;
  transition-duration: 100ms;
}

.EventItem:active {
  transform: scale(1.1);
}

.EventItem span {
  display: inline-block;
  font-size: 1.7em;
  transition-property: transform;
  transition-duration: 500ms;
}

.EventItem:hover span {
  transform: rotate3d(2, 2, 0, 25deg) scale(1.3);
}

/* MARK: Evento Info */
.EventInfo {
  z-index: 2;
  position: relative;
  display: block;
  background-color: gold;
  clip-path: polygon(40% 0, 60% 0, 60% 0, 40% 0);
  transition: none;
}

.open,
.EventInfo:not(.open) {
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(.77,-0.26,.38,1.27);
  animation-fill-mode: forwards;
}

.open {
  animation-name: openAnim;
}

.EventInfo:not(.open) {
  animation-name: closeAnim;
}

@keyframes openAnim {
  0% {
    clip-path: polygon(
      50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%
    );
  }
  40% {
    clip-path: polygon(
      50% 50%, 100% 100%, 55% 70%, 45% 70%, 0 100%
    );
  }
  70% {
    clip-path: polygon(
      50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%
    );
  }
  100% {
    clip-path: polygon(
      50% 0%, 100% 0, 100% 100%, 0 100%, 0 0
    );
  }
}

@keyframes closeAnim {
  0% {
    clip-path: polygon(
      0% 0%, 100% 0%, 100% 100%, 0% 100%
    );
  }
  50% {
    clip-path: polygon(
      40% 0, 60% 0, 60% 100%, 40% 100%
      );
  }
  100% {
    clip-path: polygon(
      40% 0, 60% 0, 60% 0, 40% 0
    );
  }
}