.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  height: 50px;
  background-color: red;
}

.Header > div {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 15px;
  align-items: center;
}

.Header a {
  text-decoration: none;
  font-family: "Imaginatio";
  font-size: 40px;
}

.Header button {
  width: 100%;
  max-width: 50px;
  height: 100%;
  max-height: 50px;  
  border: none;
  background: none;
}

.Header button:hover, .Header a:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.Menu,
.Perfil {
  z-index: 99;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 100vh;
  background-color: #777777;
  transition-duration: 200ms;
}

.Menu { left: -350px;}
.Perfil { right: -350px;}

.Menu_Show {
  transform: translateX(350px);
}

.Menu nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  margin-left: 30px;
}

.Menu a {
  text-decoration: none;
  font-size: 1.4em;
}

.Perfil_Show {
  transform: translateX(-350px);
}

.Perfil > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Perfil span {
  font-size: 1.4em;
}

.Perfil a {
  text-decoration: none;
  background-color: aqua;
  margin: 10px;
  padding: 10px;
  width: 80%;
  text-align: center;
}

.Perfil a:hover {
  transform: scale(1.05);
}

.Perfil picture {
  display: block;
  aspect-ratio: 1/1;
  width: 80%;
  border-radius: 50%;
  overflow: hidden;
}

.Perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Menu button,
.Perfil button {
  position: absolute;
  top: 0;
  margin: 20px;
  padding: 10px;
}