/* MARK: Header */
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  height: 50px;
  background-color: var(--ui-background);
}

.Header > div {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 15px;
  align-items: center;
}

.Header a {
  text-decoration: none;
  font-family: "Imaginatio";
  font-size: 40px;
  color: var(--ui-color);
}

.Header button {
  width: 100%;
  max-width: 50px;
  height: 100%;
  max-height: 50px;  
  border: none;
  background: none;
}

.Header button:hover, .Header a:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.Menu,
.Perfil {
  z-index: 99;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 100vh;
  background-color: var(--ui-background);
  color: var(--ui-color);
  transition-duration: 200ms;
}

.Menu { left: -350px;}
.Perfil { right: -350px;}


/* MARK: MENU */
.Menu_Show {
  transform: translateX(350px);
}

.Menu nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  margin-left: 30px;
}

.Menu a {
  text-decoration: none;
  font-size: 1.4em;
  color: var(--ui-color);
  transition-property: transform;
  transition-duration: var(--speed-medium);
}

.Menu a:hover {
  transform: scale(1.2) translateX(10px);
}

/* MARK: PERFIL */
.Perfil_Show {
  transform: translateX(-350px);
}

.Perfil > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Perfil span {
  font-size: 1.4em;
}

.Perfil a {
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  width: 80%;
  text-align: center;
  border-radius: var(--borde-radio-3);
  background-color: var(--ui-color);
  color: var(--ui-background);
}

.Perfil a:hover {
  transform: scale(1.05);
}

.Perfil picture {
  display: block;
  aspect-ratio: 1/1;
  width: 80%;
  border-radius: 50%;
  overflow: hidden;
}

.Perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Menu button,
.Perfil button {
  position: absolute;
  top: 0;
  margin: 20px;
  padding: 10px;
  background-color: unset;
}

@media screen and (max-width:550px) {
  .Header a{
    font-size: 28px;
  }
}

@media screen and (max-width:350px) {
  .Header a{
    font-size: 20px;
  }
}