.eventos-list{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.eventos-list.active {
    flex-direction: column;
    gap: 10px;
    width: 30vw;
}

.eventos-list .item{
    position: relative;
    flex: 0 0 40%; /* 2 columns */
    height: 250px;              
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.3s ease;
    background-color: var(--terciario);
}

.eventos-list.active .item {
    flex: 0 0 auto; 
    width: 100%;
    height: auto;
}

.eventos-list .item button {
    display: none;
}

.eventos-list .item h3{
    z-index: 2;
    display: block;
    width: 100%;
    position: absolute;
    top: calc(100px - 1rem);
    font-size: 3rem;
    text-align: center;
    transition-duration: var(--trans-time-fast);
}

.eventos-list.active .item h3 {
    position: static;
    margin: 10px 0;
    font-size: 1.4rem;
}

.eventos-list .item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity:20%;
    filter: blur(3px);
    transition: var(--trans-time-mid);
}

.eventos-list .item:hover{
    cursor: pointer;
}

.eventos-list .item:hover h3{
    transform: scale(1.2);
}

.eventos-list .item:hover img{
    opacity: 30%;
    filter: blur(0px);
    transform: scale(1.3) rotateZ(5deg);
}

.eventos-panel {
    display: none;
    width: 0px;
}

.eventos-panel.active {
    display: block;
    width: 60vw;
    height: auto;
    background-color: var(--terciario);
    border-radius: 20px;
    font-size: 2rem;
}

.eventos-panel.active .title {
    margin: 30px 0;
    width: 100%;
    text-align: center;
    font-family: var(--font-titulos);
    font-size: 1.5em;
}

.eventos-panel.active .text {
    margin: 0 20px;
    font-size: 0.8em;
    font-family: var(--font-parrafos);
}

.equipos-list {
    box-sizing: border-box;
    list-style: none;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.equipos-list a {
    display: block;
    position: relative;
    margin: 20px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: var(--blanco);
    color: var(--negro);
    overflow: hidden;
}

.equipos-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--trans-time-mid);
}

.equipos-list a:hover img{
    transform: scale(1.1);
}

.equipos-list div {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blanco-glass);
}

.eventos-panel .advice {
    display: block;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--secundario);
    text-align: center;
}


@media screen and (max-width: 1250px) {            
    .eventos-list .item {
        min-width: 300px;
        width: 100%;
    }
    
    .eventos-list.active {
        margin: 10px;
        width: 80%;
    }

    .eventos-panel.active {
        width: 80%;
    }
}