.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal article{
  width: 50vw;
  max-height: 60vh;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  border: dashed 3px #000;
  overflow-y: scroll;
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: rgba(0,0,0,0.3) transparent;
}

.modal article {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: rgba(0,0,0,0.3) transparent;
}

/* WebKit browsers (Chrome, Edge, Safari) */
.modal article::-webkit-scrollbar {
  width: 6px;
}

.modal article::-webkit-scrollbar-track {
  background: transparent;
}

.modal article::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.modal article::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
