.Titulo {
  margin: 20px 100px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 30px;
  background-color: yellow;
}

.Titulo picture {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Titulo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.Integrantes {
  margin: 20px 50px;
  padding: 40px;
  gap: 30px;
  text-align: center;
  background-color: yellow;
}

.Integrantes > h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.Integrantes > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.Integrantes article {
  display: grid;
  grid-template-rows: 1fr 30px;
  gap: 20px;
  height: 300px;
}

.Integrantes picture {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.Integrantes img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.division {
  margin: 20px 0;
  padding: 20px 40px;
  text-align: center;
}